@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->
<address>
    <strong>LinkedIn:</strong>  <a href="https://www.linkedin.com/in/james-kobell-333143153/">https://www.linkedin.com/in/james-kobell-333143153/</a><br />
    <strong>Contact Email:</strong>   <a href="mailto:k4kobell@gmail.com">k4kobell@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/jkobell/">https://github.com/jkobell/</a>
</address>